
<!--Footer-->
<footer class="text-center font-small mt-auto wow fadeIn" style="background: rgba(23, 25, 26, 0.185);">

  <!--<hr class="my-4">-->

  <!-- Social icons -->
  <div class="pb-4 pt-4">

    <h4>Redes Sociales</h4>

    <a href="https://www.facebook.com/foex.distribuciones" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <!--<a href="https://twitter.com" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    -->

    <a href="https://www.instagram.com/foexdistribucionessalta" target="_blank">
      <i class="fab fa-instagram mr-3"></i>
    </a>  

    <!--

    <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="https://dribbble.com/mdbootstrap" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/mdbootstrap" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a>

    -->

  </div>
  <!-- Social icons -->

  <!-- Contacto -->
  <div class="pb-4 pt-4">

    <h4>Contacto</h4>
        
    <a href="mailto:info@foexgroup.com.ar" target="_blank">
      <i class="fab fa-at mr-3"></i>
    </a>

  </div>
  <!-- Contacto -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2.023 Copyright - Desarrollado por: 
    <a href="https://www.facebook.com/jesusmatias.gonzalez.1/" target="_blank"> ingjesusgonzalez</a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->